<ol reversed class="list" start="{{ bloglist.length }}">
  {% for blog in bloglist | reverse %}
    <li class="card" >
      {# {{[blog.url, blog.data.image] | join | svgContent | safe  }} #}
      {# {{ blog.data.image | svgContent | safe  }} #}
      <article class="card__base">
        {% if blog.data.cover %}
          <a class="card__cover__link" href="{{ blog.url | url }}" tabindex="-1" aria-hidden="true">
            <div class="card__cover" >
              {{ blog.data.cover}}
            </div>
          </a>
        {% endif %}

        <div >
          <a class="card__link" href="{{ blog.url | url }}" >
            {{ blog.data.title }}
          </a>
          <div class="card__meta">
            <time datetime="{{ blog.date | dateToFormat('DDD')  }}">
              {{ blog.date | dateToFormat('DDD')  }}
            </time>
          </div>
        </div>
      </article>
    </li>
  {% endfor %}
</ol>