<ol reversed class="list" start="{{ projectlist.length }}">
  {% for project in projectlist | reverse %}
    <li class="card" >
      <article class="card__base">
        <a href="{{ project.url | url }}" tabindex="-1" aria-hidden="true">
          <figure class="card__figure">
            {% image project.data.cover,
            project.data.excerpt,
            'card__image', '(max-width: 480px) 100vw, 320px' %}
          </figure>
        </a>

        <div>
          <a class="card__link" href="{{ project.url | url }}">
            {{ project.data.title }}
          </a>

          <p class="card__meta">
            {% if project.data.excerpt %}
              {{ project.data.excerpt }}
            {% endif %}
          </p>
        </div>
      </article>
    </li>
  {% endfor %}
</ol>