.card {
  &__base {
    margin-bottom: 1rem;
  }

  &__figure {
    margin-bottom: 0.75rem;
    background-color: var(--color-bg-offset);
  }

  &__image {
    height: 240px;
    min-width: 100%;
    max-width: 100%;
    object-fit: cover;
  }

  &__cover {
    text-align: center;
    padding: 2rem 0;
    margin: 1rem 0;
    border-radius: 0.3rem;
    font-family: 'iAWriterMonoS-Regular', $font-family-sans-serif;
    font-size: 54px;
    color: var(--color-secondary);
    background-color: var(--color-bg-offset);

    &__link {
      text-decoration: none;
    }
  }

  &__link {
    font-size: 1.6rem;
    line-height: 1.7rem;
    display: block;
    margin-bottom: 0.5rem;
  }

  &__meta {
    color: var(--color-text-meta);
  }
}
