.markdown-body {
  font-size: 1.2rem;
  @include mq-down(lg) {
    font-size: 1rem;
  }

  &__content {
    max-width: 800px;
  }

  h2 {
    font-size: 1.75rem;
    line-height: 2rem;
    font-weight: 700;
    padding-top: 3rem;
    padding-bottom: 0.25rem;
  }

  h3 {
    font-size: 1.25rem;
    line-height: 1.6;
    font-weight: 600;
    padding-top: 2rem;
    padding-bottom: 0.25rem;
  }

  p {
    font-weight: 400;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    color: var(--color-text-offset);
  }

  ol {
    margin-top: 0.5rem;
    padding-left: 1.5rem;
    list-style-type: decimal;
    color: var(--color-text-offset);
  }

  ul {
    margin-top: 0.5rem;
    padding-left: 1rem;
    list-style-type: disc;
    color: var(--color-text-offset);
  }

  img {
    max-width: 100%;
    height: auto;
    margin-top: 1.5rem;
    margin-bottom: 0.2rem;
    border-radius: 0.5%;
    // border: solid 2px var(--color-bg-offset);
  }

  // making fancy disc branding colored
  /*ul li::before {
    content: '\2022';
    font-weight: bold;
    display: inline-block;
    width: 1rem;
    margin-left: -1rem;
    color: var(--color-primary);
  } */

  li::marker {
    color: var(--color-primary);
  }

  // display branded numbers
  /*
  ol {
    counter-reset: li;
  }
  ol li::before {
    content: counter(li);
    display: inline-block;
    width: 1rem;
    margin-left: -1.5rem;
    margin-right: 0.5rem;
    text-align: right;
    direction: rtl;
    color: var(--color-primary);
  }
  ol li {
    counter-increment: li;
  }
  */

  li + li {
    margin-top: 0.5rem;
  }

  .direct-link {
    color: var(--color-bg-offset);
    text-decoration: none;
    @include hover-focus {
      color: var(--color-primary);
    }
  }

  blockquote {
    padding-left: 1rem;
    margin-top: 1.7rem;
    margin-bottom: 1.7rem;
    font-style: italic;
    color: var(--color-text-offset);
    border-left: solid var(--color-bg-offset);
    border-left-width: 0.5rem;
  }
}
