.container {
  padding-block: 90px;
  max-width: var(--max-width);
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media only screen and (max-width: 833px) {
    padding-block: 45px;
    flex-direction: column-reverse;    
    padding-inline: 16px;
  }
}
.container > div {
  max-width: 520px;
  text-align: left;
}

.links {
  margin-block-start: 32px;
  gap: 24px;
  display: flex;
  align-items: center;
}