<div class="w-screen max-w-5xl ml-[50%] -translate-x-1/2 px-4  flex flex-col sm:flex-row mx-auto">
<div>
{% md %}
The version before the lunch of the new app was a hybrid application, it was a responsive website packed into an app. In certain scenarios this solution can work, however for a mobile banking app competing with many other apps it was not an option.

This hybrid solution had many limitations. There was a delay once the user tapped on the screen. Native bottom navigation could not be used. More modern interaction pattern like swiping were not fluent.

When users wanted to check whether a transaction was made they needed to expand an accordion and go to another page and scroll. Once they navigated back, the whole site reloaded, making the application feel slow.

Apart from performance and usability challenges, there was negative feedback on the branding. For the users the black and white was very sad and depressing.
{% endmd %}
</div>
<figure class="my-8 sm:mt-0 mx-auto shrink-0">
<img src="/images/csx-mobile-banking/home-previous-version.webp" width="480" height="709"
     loading="lazy" decoding="async"
     alt="Previous online banking home screen"/>
</figure>
</div>
