.container {
  background-color: var(--light-gray-bcg-color);

  padding-block: 90px;
  text-align: center;

  @media only screen and (max-width: 833px) {
    padding-block: 45px;
    padding-inline: 16px;        
  }
  
}

.inner {
    max-width: var(--max-width);
    margin: auto;
}

