---
layout: base
---
<header class="pb-12 flex flex-col items-center bg-gradient-to-b from-cyan-200 to-white">
    <div class="max-w-3xl mx-auto text-center prose prose-lg">
        {% include "partials/home-link.njk" %}
        <img class="mx-auto mb-4" src="{{ client.logo }}" alt="{{ client.name }}" width="180" height="24"/>
        <h1>{{ title }}</h1>
        <img class="mx-auto mt-10 sm:mt-8 transition-all delay-200 duration-500 opacity-0 -translate-y-12 image-fade"
             src="{{ image }}"
             alt="{{ description }}"
             width="800"
             height="600"/>
    </div>
</header>

<article class="max-w-3xl mx-auto prose prose-p:my-1 prose-headings:text-center prose-p:leading-7 prose-li:leading-7 prose-li:my-0 prose-h4:mt-2  px-4">
    {{ content | safe }}
    {% include "partials/home-link.njk" %}
</article>


<script>
    const image = document.querySelector(".image-fade");
    const fadeIn = new IntersectionObserver (function (entries) {
        entries.forEach(function(entry) {
            if (entry.isIntersecting) {
                entry.target.classList.add("opacity-100");
                entry.target.classList.add("translate-y-0");
            }
        }, {threshold: 1});
    });
    fadeIn.observe(image);
</script>
