.header {
  border-bottom: 1px #E2E8F0 solid; 
  padding-block: 8px;
  h4 {
    max-width: var(--max-width);  
    margin: auto;
  }
  
}

.projectPreview {
  text-align: center;
  padding-block: 60px;

  .titleBlock {
    max-width: 400px;  
    margin: auto;
    margin-block: 45px;
  }

  p {
    margin-block-start: 8px;
    margin-block-end: 16px;
  }
}

.alignLeft {
  .innerContainer {
    display: flex;
    max-width: var(--max-width);
    margin: auto;
    align-items: center;
  }
}

.grayBackground {
  background-color: var(--gray-1-color);
}