---
title: About
layout: base
permalink: /about/
eleventyNavigation:
  key: About
  order: 4
---

<div class="container profile">
  <div >
    {% image './src/assets/raw-images/profile_pic.jpg',
  'Profile picture',
  'profile__pic' %}
  </div>

  <div class="profile__desc" >
    <h1 class="title">Ladislav Szolik</h1>
    <div class="details">
      <p>Improving digital banking as senior UX Designer @ Credit Suisse AG. </p>
      <p>Previously coded quite a lot of backend logic.</p>
      <p>Was born with a pencil in hand, ready to create.</p>
    </div>
  </div>
</div>