---
layout: base
title: Projects
eleventyNavigation:
  key: Projects
  order: 3
permalink: /projects/
---
<div class="container">
  <h1 class="page__title">{{ title }}</h1>
  {%- set projectlist = collections.projects -%}
  {% include "projectlist.njk" %}
</div>