---
const { title, url, description, pubDate } = Astro.props;
---

<li>
  <h3><a class="blog-link" href={url}>{title}</a></h3>
  <time class="gray-text" datetime={pubDate}>
    {
      new Date(pubDate).toLocaleDateString("en-us", {
        year: "numeric",
        month: "short",
        day: "numeric",
      })
    }
  </time>
  <p>{description}</p>
</li>

<style>
  li {
    list-style-type: none;
  }
  li:not(:last-child) {
    margin-block-end: 1.5em;
  }

  a.blog-link:visited {
    color: var(--link-primary-visited);
  }
</style>
