---
---

<div class="container nav-links">
  <a class="nav-link" href="/">Home</a>
  <a class="nav-link" href="/blog/">Blog</a>
</div>

<style>
  .nav-links {
    padding-block: 1em;
    display: flex;
    justify-content: center;
    gap: 1.5em;
  }
</style>
