.container {
  max-width: var(--max-width);
  margin: auto;
  text-align: center;
  padding-block: 90px;

  @media only screen and (max-width: 833px) {   
    padding-inline: 16px;
  }

  p {
    padding-block-start: 8px;
    padding-block-end: 16px;
  }
}