---
layout: base
eleventyExcludeFromCollections: true
---

<div >
    <header >
        <h1 >Nope</h1>
        <p >That’s a 404.</p>
    </header>
    <div >
        <p>Oops, this page does not exist, or it has been move.</p>
        <p >
            <a href="/" > Go Back Home</a>
        </p>
    </div>
</div>