---
layout: base
title: Posts
---

<div ">
  <h1>{{ title }}</h1>
  {%- for post in collections.post | reverse -%}
  <article>
    <a class="text-blue-600 underline-offset-4" href="{{ post.url }}">
      <h2>{{ post.data.title }}</h2>
    </a>
    <time class="text-gray-500" datetime="{{ page.date }}>
      {{ post.date | postDate }}
    </time>
    <p class="text-left">{{ post.data.description }}</p>
  </article>
  {%- endfor -%}
</div>
