---
layout: base
title: Thank you
---
<style>
    .thank-you {
        padding: 4rem 2rem;
        display: flex;
        flex-direction: column;
        max-width: var(--max-width);
        margin-inline: auto;
        text-align: center;
        gap: 1rem;
    }
</style>

<section class="thank-you">
    <img src="/images/success.svg" height="80" alt="Success message">
    <h2>Thank you for your message</h2>
    <p >I'll get back to you as soon as possible.</p>
    <a class="link" href="/">Go back to home</a>
</section>