body {
  transition: background-color 0.4s ease;
}

:root {
  --color-bg: #ffffff;
  --color-bg-offset: #cbd5e1;
  --color-text: #1e293b;
  --color-text-offset: #475569;
  --color-text-meta: #64748b;
  --color-primary: #ef4444;
  --color-secondary: #64748b;
}

[data-theme='dark'] {
  --color-bg: #2f3437;
  --color-bg-offset: #474c50;
  --color-text: rgba(255, 255, 255, 0.9);
  --color-text-offset: rgba(255, 255, 255, 0.7);
  --color-text-meta: rgba(255, 255, 255, 0.6);
  --color-primary: #ef4444;
  --color-secondary: #94a3b8;
}
