@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #fffffe;
    --color-bg-offset: #e1e3e4;
    --color-text: #373a3c;
    --color-text-offset: #334155;
    --color-text-meta: #94a3b8;
    --color-primary: #0ea5e9;
    --color-primary-link: #bae6fd;
    --color-primary-offset: #0284c7;
    --color-secondary: #64748b;
  }
}
