---
const { pageTitle, description } = Astro.props;
import Header from "../components/Header.astro";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <script async src="https://cdn.splitbee.io/sb.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="keywords"
      content="accessibility, accessible design, visually impaired, visual impairment, inclusive design, blind users, screen readers, visual design, visual principles, principles, visual ux, design elements, emotional design, beautiful design, aesthetic design, visual hierarchy, ui design, web usability, web page ux"
    />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <meta name="og:description" content={description} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <Header />
    <slot />
  </body>
</html>
