<style>
  .activity-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;

    & span {
      padding-inline: 0.8rem;
      padding-block: 0.6rem;
      color: var(--blue);
      background: linear-gradient(to top, #e8e8f6, #eaeaf7, #ebecf8, #edeef9, #eff0fa);
      border-radius: 24px;
    }
  }
</style>

<section class="activity-container">
  {% for activity in activities %}<span>{{ activity }}</span>{% endfor %}
</section>
