<style>
  .footer {
    position: sticky;
    background-color: var(--light-gray);
    color: var(--gray);
    text-align: center;
    padding: 2rem 1rem;
    font-size: 0.8rem;
  }

  .footer a {
    color: var(--blue);
  }

  .footer a:hover {
    color: var(--blue-hover);
  }
</style>

<footer class="footer">
  Crafted by me using <a href="https://www.11ty.dev/" target="_blank">Eleventy</a>, a fast static site generator I love.
</footer>
