---
layout: base
title: Banking design system
description: Create design system for web and mobile banking
activities: [ "Visual design (Sketch)", "Interaction design (Sketch)", "Prototyping (InVision, Origami Studio)", "IT hand-offs", "Usability testing", "Stakeholder management"]
---

<header class="pb-12 text-center flex flex-col items-center bg-gradient-to-b from-white to-sky-50">
    <div class="max-w-5xl mx-auto px-4">
        <a href="/" class="text-blue-700 py-4 block">Home</a>
        <img class="mx-auto mb-4" src="/images/logos/cs-logo.svg" alt="Credit Suisse logo" width="188" height="24"/>
        <h1 class="text-4xl sm:text-7xl font-bold">{{ title }}</h1>
        <img class="mx-auto my-4 sm:my-8 transition-all duration-500 opacity-0 -translate-y-12 image-fade"
             src="/images/banking-design-system/design-system-sm.webp" alt="Design system in Sketch"
             srcset="/images/banking-design-system/design-system-sm.webp 720w, /images/banking-design-system/design-system-lg.webp 1600w"
             sizes="100vw"
             width="800"
             height="467"
             loading="lazy" decoding="async"/>
    </div>
</header>

<main class="flex flex-col gap-16 sm:gap-24 items-center">
    <section class="bg-sky-50 w-full pb-8">
        <div class="max-w-3xl mx-auto px-4">
            <h2 class="text-4xl sm:text-6xl font-semibold text-center mb-6 sm:mb-8">Introduction</h2>
            <div class="space-y-2">
                <p>
                    <strong>Timeline.</strong> Jun 2018 - Oct 2021</p>
                <p>
                    <strong>Problem statement.</strong> The design guidelines provided by the branding team were focused
                    on print and marketing sites. They missed many application related aspects. As a result designers
                    and developers invented their own guides and the application wasn’t consistent and had poor
                    usability.</p>
                <p>
                    <strong>Goal.</strong> Define a common design language for mobile and web, so that teams become more
                    efficient and they achieve higher level of consistency.</p>
                <p>
                    <strong>Team.</strong> 3 developers, 1 brand designer, 2 UX designers</p>
                <p>
                    <strong>Roles played.</strong> Me and another senior UX designer were responsible to define and
                    approve each part of the design system.
                </p>
            </div>
        </div>
    </section>

    {% include  "partials/activities.njk" %}

    <section class="max-w-3xl px-4">
        <h2 class="text-4xl sm:text-6xl font-semibold text-center mb-6 sm:mb-8">Getting started</h2>
        <h3 class="font-semibold">Challenges</h3>
        <p>First we needed to find out who everyone will consume this system. Secondly, we wanted to know what format
            would be the best for them.</p>

        <h3 class="font-semibold mt-8">Proposed solutions</h3>
        <ul class="space-y-2">
            <li>We organised a kick-off with all the teams working on the web and mobile banking app. These teams were
                our target audience.
            </li>
            <li>Next, we created the first design system in Confluence. It was a huge design table, consist of
                categories, sub-categories, print screens and measurements.
            </li>
            <li>Confluence is accessible for everyone, no special permissions were required. At that time it was not
                possible to share Sketch files, so first we documented only the elements, which were required for the
                development team.
            </li>
        </ul>
        <figure class="my-8 mx-auto">
            <img class="mx-auto" src="/images/banking-design-system/confluence-design-system.webp" width="800"
                 height="648"
                 loading="lazy"
                 decoding="async"
                 alt="First version of the design system, a table in Confluence"/>
            <figcaption class="text-slate-600 text-center">First version of the design system, a table in Confluence
            </figcaption>
        </figure>
        {% lessons %}
            The table was adapted by the teams due to its simplicity and easy of access. But as the content grew, it became difficult to maintain and navigate with in. We knew we needed a better solution. Using Confluence as an MVP helped us to quickly learn what information is important for the engineers.
        {% endlessons %}
    </section>

    <section class="max-w-3xl px-4">
        <h2 class="text-4xl sm:text-6xl font-semibold text-center mb-6 sm:mb-8">Designing the system</h2>
        <h3 class="font-semibold">Creating the component library</h3>
        <ul class="space-y-2">
            <li>We learned that our primary users are designers and developers. For designers we built a UI Library in
                Sketch.
            </li>
            <li>Developers needed interactive examples with code snippets. With the collaboration of another development
                team, we built a component library. This library was shared as a software package for developers, we
                wanted
                that each project integrates it and use it.
            </li>
            <li>To lookup a component with its measures and context of use, we migrated the Confluence table to
                Frontify. It
                was easier to update design examples and share additional comments.
            </li>
        </ul>
        <figure class="my-8 mx-auto">
            <img class="mx-auto" src="/images/banking-design-system/frontify-design-system.webp" width="800"
                 height="648"
                 loading="lazy"
                 decoding="async"
                 alt="The design system documented in Frontify"/>
            <figcaption class="text-slate-600 text-center">The design system documented in Frontify
            </figcaption>
        </figure>
        {% lessons %}
            SketchApp UI libraries worked for us perfectly. Plus, we found that the interactive UI library benefits not only the developers, but the junior designers as they can observe and study certain interactions.
        {% endlessons %}

        <h2 class="text-4xl sm:text-6xl font-semibold text-center mt-8 mb-6 sm:mb-8">Results</h2>
        <ul class="space-y-2">
            <li>The design system has been successfully adapted by the teams. We introduced a weekly meeting to discuss
                new components and make further improvements. These recurring meetings keep the system up to date and
                useful.
            </li>
            <li>The online banking supports 4 languages and we lose a lot of time with prototype translations. Therefore
                the next step is to create a system, which allows designers to quickly prototype in multiple languages.
            </li>
        </ul>
        <a href="/" class="text-blue-700 py-4 block text-center mb-8">Back to home page</a>
    </section>

</main>

<script>
    const image = document.querySelector(".image-fade");
    const fadeIn = new IntersectionObserver(function (entries, observer) {
        entries.forEach(function (entry) {
            if (entry.isIntersecting) {
                entry.target.classList.add("opacity-100");
                entry.target.classList.add("translate-y-0");
            }
        }, {threshold: 1});
    });
    fadeIn.observe(image);
</script>
